NIX_FORK=$(nix build github:lomenzel/nix --no-link --print-out-paths --extra-experimental-features nix-command | tail -n 1)
echo "Using nix fork from: $NIX_FORK"

export PATH="$NIX_FORK/bin:$PATH"

# Evaluate the flake using the custom nix fork
use flake